#include <windows.h>
#include "xonix.h"


XONIX MENU
BEGIN
	POPUP MNU_GAME
		BEGIN
			MENUITEM MNU_NEW, IDD_NEW
			MENUITEM MNU_PAUSE, IDD_PAUSE
			MENUITEM SEPARATOR
			MENUITEM MNU_EXIT, IDD_EXIT
		END
	POPUP MNU_HELP
		BEGIN
			MENUITEM MNU_ABOUT, IDD_ABOUT
		END
END

XONIX ACCELERATORS
BEGIN
	ACC_NEW, IDD_NEW
	ACC_PAUSE, IDD_PAUSE, VIRTKEY
	ACC_EXIT, IDD_EXIT
	ACC_ABOUT, IDD_ABOUT
END
